*~
*.la
*.lo
*.log
*-testd
*.trs
.deps/
.libs/
config.h.in
Makefile
Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.status
/config.sub
/configd
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
/test-driver
rpm/libvna.spec
src/example.vnacal
src/test-suite.log
src/vnacal-example
src/vnacal-example.out
src/vnacal_new.pdf
src/vnacal_parameter.pdf
src/vnacal.pdf
src/vnacal-test
src/vnacal-test.vnacal
src/vnacommon-test
src/vnaconv-example
src/vnaconv.pdf
src/vnaconv-test
src/vnadata-example
src/vnadata.pdf
src/vnaerr.pdf
src/vnafile-example
src/vnafile.pdf
src/vnaproperty-test
